*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
   
    display: flex;
}

.mobileStats{
    display: none;
    display: flex;
    float: right;
    position: absolute;
    color: whitesmoke;
    margin-left: 160px;
    margin-top: 68px;
}

.mobileStats table{
    display: none;
    color:white;
    text-align: left;

}

.profile-stats{
    display: flex;
    flex-direction: column;
}

/* Disable fixed background on small screens */
@media screen and (max-width: 768px) {
    .main-image {
        background-attachment: scroll;
    }
}

/* on smaller screen text size */
@media only screen and (max-width: 300px){
    body {font-size: 11px}
}

@media screen and (min-width: 500px){
    .left{
        width: 120px;
      
    }
}

.left{
    color: white;
    width: 240px;
    height: 100vh;
    text-align: center;
    background-color: hsl(340, 64%, 33%);
    padding-right: 9px;
}

.name{
    font-size: 200%;
    margin-top: 22px;
    text-align: center;
    font-weight: bolder;
}

.active {
    background-color: #6e4d4d;
  }

.slideShowHolder{ 
    /* border: 1px rgb(83, 58, 58) solid; */
    width: 100%;
    height: fit-content;
    margin: 3px auto  23px auto; 
}

/* Slide show pics */
.myslide{
    display: none;
    opacity: 0;
    animation: fade 1s ease-in-out;
    
}

.myslide img{
    width: 100%;
    height: 200px;
}

/* fading animation */
.fade{
    animation-name: fade;
}

@keyframes fade{
    from {opacity: 0.4;}
    to { opacity: 1;}
}

/*  On smaller screens, decrease text size */
@media only screen and (max-width:300px){
    body {font-size: 11px}
}

.left-footer{
    display: flex;
    flex-direction: column;
}
.contact{
    margin-top: 13px;
    color: white;
    font-size: 100%;
    font-weight: bolder;
    width: 100%;
    height: 150px;
}

.contact table{
    text-align: left;
    color: white;
   
}


.line{
    width: 50%;
    margin: 6px auto 6px auto;
    height: 2px;
    background-color: rgb(255, 255, 255);
}

ion-icon{
  
    width: 23px;
}

.logo{
    background-image: url('../images/THADDEUS_STEVENS_LOGO_background.webp');
    width: 100%;
    height: 180px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    
}

.center{
   
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
}

.main-image{
    height: 520px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, .5)), 
    url('../images/welder.webp');
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    padding-top: 63px;
    font-size: 200%;
    background-attachment: fixed;
    background-position-y: 50%;
}

.profile .line{
    background-color: black;
    
}

.profile{
    text-align: center;
    margin-bottom: 53px;
}

.options{
    display: flex;
    margin: auto;
    justify-content: center;
    flex: 0 1 300px;
    margin-top: -83px;
}


.option{
    width: 500px;
    height: 120px;
    background-color: rgb(255, 255, 255);
    margin: 17px;
    border-radius: 12px;
    box-shadow: 0px 0px 15px #888888;
    font-size: 120%;
}

.option ion-icon{
    border: black 3px solid;
    height: 23px;
    background-color: rgb(255, 255, 255);
    padding: 13px;
    border-radius: 26px;
    margin-left: -12px;
    float: left;
}


.option p{
    text-align: center;
    padding: 3px;
    height: fit-content;
    background-color: #b24f63;
    border-radius: 23px;
    color: white;
}

.option h2{
    padding-top: 40px;
    padding-right: 40px;
    
}

.option p:hover{
    cursor: pointer;
    background-color: #41293b;
}

.services{
    font-size: 300%;
    margin: 23px 0px 13px 0px;
    background-color: #fcb900;
    padding: 23px 0px 23px 0px;
    color: black;
}

.services-1{
    font-size: 300%;
    margin: 0px 0px 13px 0px;
    background-color: #fcb900;
    padding: 23px 0px 23px 0px;
    color: black;
}

.article-display{
    display: flex;
    width: 100%;
    height: 300px;
}

.article-img1{
    width: 50%;
    background-image: url('../images/weld_clipart.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
}

.article-display p{
    width: 43%;
    height: fit-content;
    padding: 7px;
    text-align: left;
    margin: auto;
    font-size: 180%;
    border-radius: 12px;
    overflow: hidden;
    font-size: 120%;
}

.articleBanner{
    width: 100%;
    height: 420px;
    background-image: url('../images/welding.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    font-size: 240%;
    text-align: center;
   
}

.articleBanner h1{
    padding-top: 153px;
}

.galleryHolder{
    width: 100%;
    height: 360px;
    display: flex;
    margin: 0px 0px 0px 0px;
}

.gal{
    /* border: rgb(108, 62, 62) 1px solid; */
    width: 20%;
   transition: width 1s;
    
}

.gal:hover{
    width: 30%;
}

.gal1{
    background-image: url('images/project1\(kaleb\).jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.gal2{
    background-image: url('images/project2\(kaleb\).jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.gal3{
    background-image: url('images/project3\(kaleb\).jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.gal4{
    background-image: url('images/project4\(kaleb\).jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.gal5{
    background-image: url('images/project5\(kaleb\).jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Media query for screens 500px or smaller */
@media screen and (max-width: 450px) {
  
    .mobileStats table{
        display: flex;
    }

    body{
        flex-direction: column;
       
    }
  /* Make the left panel narrower */
    .left {
        width: 100%;
        flex-direction: row;
        height: 160;
    }

    .line{
        display: none;
    }

   .name{
    text-align: left;
    margin-top: 3px;
   }

    .slideShowHolder{ 
        width: 120px;
        margin-top: -1px; 
        margin-left: 12px;
        border-color: black;
    }

    .myslide img{
        width: 120;
        height: 120px;
        margin-left: 12px;
    }

    .left-footer{
      display: none;
    }

    .logo{
        display: none;
    }

    
    .galleryHolder{
        height: 200px;
    }

    /* Center panel takes up remaining width */
    .center {
        width: 100%;
    }

    /* Reduce font size for the main-image text */
    .main-image {
        font-size: 1.5rem;
        height: 300px; /* Adjust height to fit better on smaller screens */
    }

    /* Adjust option boxes to be smaller and stack vertically */
    .options {
        margin-top: -26px;
        flex-direction: column;
        align-items: center;
    }

    .option {
        width: 90%;
        height: auto;
        margin: 10px 0;
    }

    .article-display p{
        font-size: 100%;
    }

    /* Reduce size of gallery images */
    .gal {
        width: 100%; /* Make each gallery item full-width */
        height: 150px; /* Adjust height for smaller screens */
        transition: 0 0;
    }

    .gal:hover{
        width: 100%;
    }

    .article-display li{
        font-size: 23px;
    }
}

.article-displaySkill{
    display: flex;
    flex-direction: column;
    font-size: 170%;
    text-align: left;
    /* border: red 1px solid; */
    margin: auto;
    height: fit-content;
}

.article-display li{
    margin: 3px;
}

.certs{
    display: flex;
    height: fit-content;
}

.certIMG{
    width: 50%;
    background-image: url('../images/weld_thadd.jfif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}
.certLi{
  
    width: 50%;
}

.certs ul{
    font-size: 190%;
    margin: 3px;
    justify-content: space-evenly;
}

.refHolder{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.ref{
    width: 400px;
    height: 300px;
    background-color: rgb(24, 22, 22);
    margin: 7px;
    border-radius: 13px;
    color: white;
}

.refTop{
    display: flex;
    border-bottom: grey solid 1px;
}

.refIMG{
    width: 123px;
    height: 123px;
    /* background-color: white; */
    border-radius: 63px;
    margin: 13px;
    background-image: url('../images/profile_pic_red.jpg');
    background-position: center;
    background-size: cover;
}

.refName{
    color: white;
    margin: auto;
    font-size: 200%;
}

footer{
    background-color: black;
    width: 100%;
    height: 120px;
    text-align: center;
    color: white;
}